<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="no">
    <th mat-header-cell *matHeaderCellDef>
      <img src="../assets/select.svg" />
    </th>
    <td mat-cell *matCellDef="let element">
      <input
        type="radio"
        value="{{ element.id }}"
        [formControl]="selectedFamilyMember"
      /></td
  ></ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.firstName + "  " + element.lastName }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
