<div>
    <form class="row" class="search-form">
        <div class="col align-items-baseline row">
          <label for="familyName" class="col-2 label">Enter Family Name</label>
          <div class="input col-7">
            <input type="text" class="form-control" id="familyName" placeholder="Eg: Raymonds/Dias/Salve">
          </div>
            <button class="col-3" style="width: auto;" type="submit" 
              class="btn btn-primary">Search</button>
        </div>
      </form>
      
      <app-member-summary></app-member-summary>
</div>