.header{
    height: 12%;
}
.content{
    border: 20px solid #2596BE;
    padding: 20px;
    height: 78%;
    overflow: auto;
}

.footer{
  bottom: 0;
  height: 10%;
  border: 20px solid #2596BE;
  border-top: none;
}

