:host{
    width: 800px;
}
.row{
    margin-bottom: 10px;
}

.apiMessage{
    font-size: large;
    color: aqua;
    border: 5px solid aqua;
    padding: 20px;
    h6{
        font-size: large;
    }
}